<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Delete Contact</h1>
        <p>Are you sure you want to delete the contact "{{ contact.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit"><a href="{% url 'contact_list' %}" class="btn btn-secondary">Delete</a></button>

    </div>
</body>
</html>
